{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb-typescript",
    "plugin:storybook/recommended",
    "prettier"
  ],
  "plugins": ["react", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "project": ["./tsconfig.json"],
    "sourceType": "module",
    "createDefaultProgram": true
  },
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "react/function-component-definition": [
      2,
      { "namedComponents": ["arrow-function", "function-declaration"] }
    ],
    "arrow-body-style": "off",
    "react/prop-types": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*/.storybook/**/*.*",
          "**/*.stories.*",
          "**/*/mocks/**/*.*",
          "**/*/__mocks__/**/*.*",
          "**/tests/**/*.*",
          "playwright.config.ts"
        ]
      }
    ],
    "import/prefer-default-export": "off"
  }
}
